* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.keep_main_div {
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
}

.keep_main_div .keep_head {
  width: 100%;
  height: 70px;
  background-color: #282828;
  font-size: 40px;
  padding: 5px 20px;
  font-weight: 400;
  text-align: center;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.keep_center_div {
  margin: 35px 35%;
}

.keep_center_div .keep_content {
  width: 100% !important;
  height: auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.keep_center_div .keep_content input {
  border: none;
  outline: none;
  width: 80%;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0 10px 0;
  border-bottom: 2px solid black;
  margin-top: 5px;
  margin-bottom: 13px;
  margin-left: 10px;
}

.keep_center_div .keep_content textarea {
  border: none;
  outline: none;
  width: 80%;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 0 10px 0;
  margin-left: 10px;
}

.keep_center_div .keep_content .keep_btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.keep_center_div .keep_content .keep_btns .keep_add_btn {
  width: 45px;
  height: 45px;
  background-color: darkblue;
  color: white;
  margin: 4px 10px -20px 10px;
}

.keep_main_div .keep_nodes_grid {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.keep_main_div .keep_node {
  width: 250px;
  height: auto;
  margin: 10px 15px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.keep_main_div .keep_node h3 {
  font-size: 18px;
  margin: 10px 15px;
  font-weight: 600;
  text-decoration: underline;
}

.keep_main_div .keep_node p {
  font-size: 20px;
  margin: 10px 15px;
  font-weight: 200;
}

.keep_main_div .keep_node .keep_node_btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.keep_main_div .keep_node .keep_node_btns .keep_node_del_btn {
  width: 15px;
  height: 15px;
  background-color: red;
  color: white;
  margin: 4px 10px 10px 10px;
}

@media (max-width: 786px) {
  .keep_center_div {
    margin: 30px 12%;
  }
}
